*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}
.View-orders-main-container{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    font-family: "DM Sans",sans-serif;

}
.all-prd-item-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1060px;
    width: 100%;
    
    margin: 50px 50px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 30px 40px;
    font-family: "DM Sans",sans-serif;

}
@media(max-width:630px){
    .all-prd-item-cont{
        padding: 20px 10px;
        margin: 0px 0px; 
        border-radius: 0px;
    }
}
.all-pro-button{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    
    align-items: center;
}
.all-pro-button-img{
    width: 24px;
    height: 24px;
}
.all-product-stock-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    max-width: 462px;
    width: 100%;
    height: 100px;
}
.inner-stock-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.stock-toggle {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.stock-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9d9d9;
    border-radius: 18px;
    transition: 0.4s;
}


.slider::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 1px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}


.stock-toggle input:checked + .slider {
    background-color: #00C807;
}

.stock-toggle input:checked + .slider::before {
    transform: translateX(28px);
}
.inner-stock-cont h2{
    font-family: "DM Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.all-product-stock-cont h1{
    font-size: 18px;
    color: #000000;
    margin: 0px 10px;
    font-weight: 500;
}
.all-product-stock-cont h1 span{
    font-size: 16px;
    color: #6E6E6E;
    margin: 0px 10px;
    font-weight: 400;
}
.s-q-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; 
    gap: 10px;
}
.Size-Quantity-stock-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 0px 10px;
    max-width: 350px;
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}
.inner-Size-Quantity-stock-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 26px;
    margin-top: 10px;
}
.inner-Size-Quantity-stock-cont p{
    font-size: 14px;
    color: #6E6E6E;
    font-weight: 400;
    margin: 10px;
    align-self: center;
}
.Size-Quantity-stock-cont h2{
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 8px 10px;
}
.inner-Size-Quantity-stock-cont-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 26px;
    padding: 0px 10px;
    
}
.inner-Size-Quantity-stock-cont-1 h1{
    font-size: 16px;
    color: #6E6E6E;
    font-weight: 400;
    
}
.inner-Size-Quantity-stock-cont-1 h1 span{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.des-heading{
    font-size: 16px;
    color: #6e6e6e;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 5px;
    
}
.des-para{
    font-family: "DM Sans",sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    max-width: 694px;
    width: 100%;
    margin: 5px 0px;
}
.all-img-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
    max-width: 450px;
    width: 100%;
}
.all-img-cont-img{
    max-width: 93px;
    width: 100%;
    max-height: 92px;
    height: 100%;
    margin: 5px;
}
.all-pr-btn-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 0px;
}
.all-pro-del-btn{
    border: 1px solid #D1D1D1;
    border-radius: 32px;
    background-color: transparent;
    width:100%;
    max-width: 220px;
    height: 48px;
    font-size: 14px;
    color: #000000;
    align-self: center;
    cursor: pointer;
    outline: none;
}
.all-pro-reset-btn{
    border: none;
    outline: none;
    border-radius: 32px;
    background-color: #566246;
    width:100%;
    max-width: 220px;
    height: 48px;
    font-size: 14px;
    color: #FFFFFF;
    align-self: center;
    cursor: pointer;
}


@media (max-width: 1024px) {
  .all-pro-button,
  .inner-stock-cont h2,
  .Size-Quantity-stock-cont h2,
  .inner-Size-Quantity-stock-cont p,
  .des-heading,
  .des-para {
    font-size: 15px;
  }

  .all-product-stock-cont h1,
  .inner-Size-Quantity-stock-cont-1 h1,
  .inner-Size-Quantity-stock-cont-1 h1 span {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  .all-pro-button,
  .inner-stock-cont h2,
  .Size-Quantity-stock-cont h2,
  .inner-Size-Quantity-stock-cont p,
  .des-heading,
  .des-para {
    font-size: 14px;
  }

  .all-product-stock-cont h1,
  .inner-Size-Quantity-stock-cont-1 h1,
  .inner-Size-Quantity-stock-cont-1 h1 span {
    font-size: 14px;
  }
  .all-product-stock-cont{
         max-width: 600px;
    }
    .Size-Quantity-stock-cont{
        max-width: 600px;
        height: 93px;
    }
}
/* @media(max-width:630px){
    
} */

@media (max-width: 480px) {
  .all-pro-button,
  .inner-stock-cont h2,
  .Size-Quantity-stock-cont h2,
  .inner-Size-Quantity-stock-cont p,
  .des-heading,
  .des-para {
    font-size: 13px;
  }

  .all-product-stock-cont h1,
  .inner-Size-Quantity-stock-cont-1 h1,
  .inner-Size-Quantity-stock-cont-1 h1 span {
    font-size: 13px;
  }
}
